/* This is a CSS comment. It begins with a slash, followed by an *, then the content you want to comment out. It ends with an * follwed by a slash */



/* Element Selector : applies the style to all instances of the named element */



body {

font-family : "Verdana", sans-serif ;

background-color : deepskyblue ;
text-decoration: underline; 
}



a {

text-decoration : none ;

color : black ;

}



/* Pseudo class : defines special state of the described element*/



a:hover {

text-decoration : underline ;

}



/* Class Selector : a named class you can apply to elements */



.navigation {

text-align : center ;

}



.highlight {

border : 1px solid black ;

background-color : greenyellow ;

}



/* ID Selector : a special ID you can give to one element in your page */



#info {

margin : 0 auto ;

text-align : left ;

background-color : rgba(100, 100, 100, 0.5);

border-style : dashed ;

border-color : floralwhite;

}